.controls-container {
  display: flex;
  gap: 10px;
  padding: 24px;
  border: solid 1px crimson;
  border-radius: 24px;
}   

button{
    background-color: crimson;
    color: white;
    border-color: white;
    padding: 8px;
    border-radius: 8px;
}